# CONFIG_BOOTSTD_DEFAULTS is not set
# CONFIG_BOOTMETH_VBE is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_BOOTMETH_EXTLINUX is not set
# CONFIG_BOOTMETH_EXTLINUX_PXE is not set

## The following options should be disabled as a consequence of the previous ones:
## CONFIG_BOOTMETH_DISTRO
## CONFIG_BOOTMETH_EFILOADER
## CONFIG_BOOTMETH_GLOBAL
## CONFIG_BOOTMETH_VBE_REQUEST
## CONFIG_BOOTMETH_VBE_SIMPLE
## CONFIG_BOOTMETH_VBE_SIMPLE_OS
