[Unit]
Description=Encryption handler for Toradex modules
DefaultDependencies=no
Before=local-fs.target
After=systemd-remount-fs.service
RequiresMountsFor=/tmp /var

[Service]
Type=oneshot
ExecStart=/usr/sbin/tdx-enc.sh start
ExecStop=/usr/sbin/tdx-enc.sh stop
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
